.credential_form {
  margin-top: 40px;
  margin-left: 10px;
}
.credential_form input {
  max-width: 266px;
}
.form_btn_container {
  padding-left: 70%;
}

.credential_form button {
  padding: 4px 8px;
  width: auto;
  height: auto;
  font-size: 16px;
  background-color: rgba(219, 157, 43);
  color: black;
  border-radius: 4px;
  border-color: transparent;
  box-shadow: none;
}
.credential_form button:hover {
  color: black;
  font-weight: 400;
}
